//common
@mixin center {
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
}

html {
  min-height: 100%;
}

body {
  background: linear-gradient(#093009, #29773e);
  font-family: 'Roboto', sans-serif;
}

p,
.h2 {
  @include center();
  color: whitesmoke;
}

//Header

.logo {
  @include center();
  display: block;
  width: 50%;
  height: 50%;
  margin: 56px auto;
}

//body

.search_area {
  @include center();
  margin-top: 16px;
  max-width: 80%;
  padding: 24px;
  // outline: solid pink 2px;
}

.search {
  @include center();
  margin: 8px auto;
  display: block;
  padding: 16px;
  background-color: white;

  border-radius: 8px;
}

.get_info {
  margin-top: 16px;
  border-radius: 8px;
  padding: 16px;
}

.get_info:hover {
  opacity: 0.5;
}

.pic_wrap {
  flex-basis: 100%;
}

.char_pic {
  @include center();
  // width: 300px;
  width: calc(100% - 24px);
  height: 400px;
}

// .hidden {
//   display: none;
// }

.fetched_info {
  @include center();
  margin-top: 36px;
  min-height: 500px;
  width: 80%;
  // outline: 2px solid pink;
}

#lists {
  outline: 2px solid skyblue;
  @include center();
  list-style: none;
  min-height: 200px;
}

.list {
  @include center();
  list-style: none;
}
.info_details {
  width: 50%;
}
