//common
@mixin center {
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
}

html {
  min-height: 100%;
}

body {
  background: linear-gradient(#093009, #29773e);
  font-family: "Roboto", sans-serif;
}

ul {
  display: flex;
}
li {
  list-style: none;
}

.or,
.h2 {
  @include center();
  color: whitesmoke;
}

//Header

.logo {
  @include center();
  display: block;
  width: 50%;
  height: 50%;
  margin: 56px auto;
}

//body

.search_area {
  @include center();
  margin-top: 16px;
  max-width: 80%;
  padding: 24px;
  // outline: solid pink 2px;
}

.search {
  @include center();
  margin: 8px auto;
  display: block;
  padding: 16px;
  background-color: white;

  border-radius: 8px;
}

.get_info {
  margin-top: 16px;
  border-radius: 8px;
  padding: 16px;
}

.get_info:hover {
  opacity: 0.5;
}

.pic_wrap {
  flex-basis: 100%;
}

.char_pic {
  @include center();
  width: 100%;
  height: 400px;
}

.fetched_info {
  @include center();
  margin-top: 36px;
  margin-bottom: 120px;
  width: 70%;
  position: relative;
  overflow: hidden;
  min-height: auto;
  // outline: 1px solid black;
  img {
    max-height: 500px;
  }

  .button-toogle {
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    margin: 24px 32px 0 0;
  }
}

.lists {
  @include center();
  list-style: none;
  position: absolute;
  top: 400px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 300px;
  background-color: white;
  transition: top 1s;
  display: flex;

  &.lists-active {
    top: 300px;
    transition: top 1s;
    display: inline-block;
    height: auto;
  }

  &.list_p {
    color: black;
    border-bottom: 1px solid black;
    font-size: 0.9em !important;
  }
}
.list-name {
  display: flex;
  // border-bottom: 1px solid rgb(103, 101, 101);
  font-size: 0.9em !important;

  li {
    // color: red;
    
  }

  p{
    color: blue;
  }
}

.list {
  list-style: none;
  margin: 0;
}
