//common
@mixin center {
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
}

html {
  min-height: 100%;
  background: linear-gradient(
    to right,
    #032202,
    #093009,
    #0d3e10,
    #1f6032,
    #29773e,
    #369457
  );
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  display: flex;
}
li {
  list-style: none;
}

.or,
.h2 {
  @include center();
  color: whitesmoke;
}

//Header

.logo {
  @include center();
  display: block;
  width: 50%;
  height: 50%;
  margin: 56px auto;
}

//body

.search_area {
  @include center();
  margin-top: 16px;
  max-width: 80%;
  padding: 24px;
  // outline: solid pink 2px;
}

.search {
  @include center();
  margin: 8px auto;
  display: block;
  padding: 16px;
  background-color: white;

  border-radius: 8px;
}

.get_info {
  margin-top: 16px;
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;
}

.get_info:hover {
  opacity: 0.5;
}

.pic_wrap {
  flex-basis: 100%;
}

.char_pic {
  @include center();
  width: 100%;
  height: 400px;
  border-radius: 8px;
}

.fetched_info {
  @include center();
  margin-top: 36px;
  margin-bottom: 120px;
  width: 50%;
  position: relative;
  overflow: hidden;
  min-height: 300px;
  height: auto;
  // outline: 1px solid black;
  img {
    max-height: 500px;
  }

  .button-toogle {
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    margin: 24px 32px 0 0;
    background-color: #0a0a23;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
  }
}

.lists {
  @include center();
  list-style: none;
  position: absolute;
  top: 500px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.839);
  transition: top 1.5s;
  display: flex;
  display: inline-block;
  padding: 36px;

  &.lists-active {
    top: 0px;
    transition: top 1s;
    display: inline-block;
    padding: 36px;
    height: auto;
  }

  &.list_p {
    color: black;
    border-bottom: 1px solid black;
    font-size: 16px !important;
  }
}

.list-name {
  display: flex;
  font-size: 16px !important;

  li {
    padding-top: 8px;
  }

  .list-quote,
  .list-occupation {
    display: block;
    overflow-wrap: break-word;
    text-align: left;
    width: 100%;
  }

  p {
    padding-top: 8px;
    color: #29773e;
  }
}

.list {
  list-style: none;
  margin: 0;
}
